
/* Universal */

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 250, 239);
  margin: 0;
}

.header-background {
  position: fixed;
  width: 650px;
  right: 50%;
  transform: translateX(50%);
  padding-bottom: 60px;
  background-color: #08549c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px -1px 5px rgba(0,0,0,.5);
  z-index: 999;
}

header {
  position: relative;
  height: auto;
  z-index: 99;
  margin-bottom: 60px;
  display: flex;
}

.header-img {
  position: absolute;
  top: 5.5px;
  left: 11px;
  width: 150px;
  opacity: 100% !important;
  z-index: 9;
}

@media only screen and (max-width: 940px ) {
  .header-img {
    display: none;
  }
}
 
.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  gap: 35px;
  padding-top: 20px;
  z-index: 9999;
}

a:link {
  color: rgb(189, 189, 189);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: rgb(255, 204, 93);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:active {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  bottom: 0;
  background-color: #08549c;
  height: 300px;
  /* gap: 100px; */
}

.imgFoot {
  width: 200px;
}

.box {
  border: 2px blue solid;
  /* padding: 150px; */
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: 35px;
  height: 100%;
  justify-content: center;
  font-size: 18px;
  width: 300px;
}

.box h3 {
  color: white;
  margin: 0;
  padding-bottom: 25px;
}

.box p {
  margin: 0 !important;
  /* font-family: ar; */
  color: rgb(196, 196, 196);
}

.box a {
  color: rgb(196, 196, 196);
  /* font-family: 'Times New Roman', Times, serif; */
}

.box a:hover {
  color: rgb(255, 204, 93);
}

/* index */

.video-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
  z-index: 2;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
  width: 40%;
  float: left;
  line-height: 1.5;
}

.dArrow {
  position: absolute;
  top: 90%;
  left: 70px;
  width: 2.5%;
}

.video-text p {
  font-family:  'SimploCaps',Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #ffffffd0;
  margin-bottom: 0.3em;
}

@media only screen and (max-width: 1070px) {
  .video-text p {
    font-size: 1.3em;
  }
}


@media only screen and (max-width: 973px) {
  .video-text p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 876px) {
  .video-text p {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 779px) {
  .video-text p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 682px) {
  .video-text p {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 585px) {
  .video-text p {
    font-size: 0.8em;
  }
}

.video-text h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.3em;
  margin-top: 0.3em;
}

:root {
  --video-text-font-size: 2em;
  }
  
  @media only screen and (max-width: 1070px) {
  .video-text h2 {
  font-size: var(--video-text-font-size);
  }
  }
  
  @media only screen and (max-width: 973px) {
  :root {
  --video-text-font-size: 1.8em;
  }
  }
  
  @media only screen and (max-width: 876px) {
  :root {
  --video-text-font-size: 1.6em;
  }
  }
  
  @media only screen and (max-width: 779px) {
  :root {
  --video-text-font-size: 1.4em;
  }
  }
  
  @media only screen and (max-width: 682px) {
  :root {
  --video-text-font-size: 1.2em;
  }
  }
  
  @media only screen and (max-width: 585px) {
  :root {
  --video-text-font-size: 1.1em;
  }
}

.hero-video video {
  top: 0;
  bottom: 0;
  /* right: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px red solid;
  background-color: red;
}

.filler {
  position: absolute;
  top: 0 ;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px red solid;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: 9999;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.testimonials {
  position: relative;
  /* border: 2px red solid; */
  /* background-color: rgba(255, 0, 0, 0.2); */
  padding-bottom: 696px;
}

.pTitle {
  text-align: center;
  background-color: #08549c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  right: 50%;
}

.sectPartners {
  margin-top: 0 !important;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 250, 239);

}

.sectPartners img {
  width: 324px;
  height: 257.63px;
}

.pImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(8, 84, 156, .8);
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  z-index: 1;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.harper {
  margin-left: 10px;
}

.Kauai-p {
  margin-right: 10px;
}

.pImg a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(194, 194, 194);
  padding-bottom: 20px;
}

.pImg a:hover {
  color: rgb(255, 204, 93);
}

@media screen and (max-width: 874px) {
  .partners {
    flex-direction: column;
    align-items: center;
  }
  .stylish {
    background-color: rgba(0, 0, 0, 0);
  }
  .pImg {
    width: 85%;
  }
}

/* Portfolio */

.portfolio-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  margin-top: 90px;
  font-weight: 500;
  letter-spacing: 1.6rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 2%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 3em;
  position: relative;
}

.item {
  position: relative;
}

.container .img-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 84, 156, 0.8);
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.container img:hover + .img-desc {
  opacity: 1;
}

.container img {
  width: 25rem;
  border: 4px solid #08549c;
  padding: 3px;
  border-radius: 20px;
  transition: opacity .2s, visibility .2s;
}

.caption {
  position: absolute;
  margin-left: 15px;
  max-width: 384px;
  bottom: 20px;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  cursor: pointer;
}

:root {
  --img-opacity: .6;
}

.item:hover {
  opacity: var(--img-opacity);
}
.item:hover .caption {
  visibility: visible;
  opacity: 1;
}

/* Our-company */

.our-company-display {
  background-color: #08549c;
  width: 100%;
  object-fit: cover;
}

.our-company-display img {
  opacity: .95;
  height: 400px !important;
  position: relative;
  object-fit: cover;
  z-index: 0;
  /* border-bottom:#08549c 4px solid ; */
  /* padding-bottom: 4px; */
}

.our-company-title {
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  top: 200px;
  right: 0;
  left: 0;  
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  /* border: 2px red solid; */
}

.our-company-title:hover {
  cursor: default;
}

/* Contact-us */

.contact-title:hover {
  cursor:  grab !important;
}

.contact-title {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 10px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: left;
  line-height: 10px;
  border-left: #08549c 8px solid;
  margin-left: 20px;
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 100% !important;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
  height: 500px;
}

.map {
  height: 500px !important;
  position: relative;
  /* opacity: 75%; */
  z-index: 0;
  border-bottom: #08549c 4px solid;
  border-top: #08549c 4px solid;
}

.us {
  width: 50%;
  height: 100%;
}

.description {
  background-color: rgba(255, 0, 0, 0.2);
  /* border: 2px red solid; */
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(119, 119, 119, 0.13);
  justify-content: space-between;
  /* border: red 2px solid; */
}

@media screen and (max-width: 862px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px !important;
    position: relative;
  }
  .us {
    width: 100%;
    position: relative;
    height: 500px !important;
  }
  .map {
    position: relative;
    height: 500px !important;
  }
  .description {
    padding-bottom: 482px;
  }
}

.message {
  padding-bottom: 7% !important;
}

.form-text {
  text-align: left;
  border: #08549c 1px solid;
  padding: 20px;
  background-color: rgba(119, 119, 119, 0.13);
  border-radius: 5px;
  width: 75%;
  margin-top: 10px;
  box-shadow: 4px 4px 0px rgba(0,0,0,.2);
  position: relative;
}

.form-text:hover {
  box-shadow: 4px 4px 0px rgba(0,0,0,.6);
}

.message-us {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left !important;
  width: 79%;
  font-size: larger;
  margin-top: 20px;
}

.send-button {
  border: 0;
  font-size: larger;
  padding: 20px;
  background-color: #08549c;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 200px;
  font-weight: 700;
  position: relative;
}

.send-button:hover {
  /* background-color: #08549c93 !important; */
  box-shadow: 6px 6px 0px rgba(0,0,0,.6);
}

.send-button:active {
  background-color: rgb(151, 0, 0) !important;
}