
/* Universal */

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 250, 239);
  margin: 0;
}

header {
  position: relative;
  height: auto;
  z-index: 99;
  margin-bottom: 60px;
  display: flex;
}

/* index */

.nav-image {
  width: fit-content;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.header-img {
  position: absolute;
  left: 1.5%;
  padding-top: .7%;
  z-index: 1;
  width: 150px;
}

@media only screen and (max-width: 940px ) {
  .header-img {
    display: none;
  }
}
 
.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  gap: 35px;
  padding-top: 20px;
  z-index: 900;
}

.video-text {
  position: absolute;
  top: 30%;
  left: 70px;
  z-index: 2;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
  width: 40%;
  float: left;
  line-height: 1.5;
}

.dArrow {
  position: absolute;
  top: 90%;
  left: 70px;
  width: 2.5%;
}

.video-text p {
  font-family:  'SimploCaps',Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #ffffffd0;
  margin-bottom: 0.3em;
}

@media only screen and (max-width: 1070px) {
  .video-text p {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 973px) {
  .video-text p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 876px) {
  .video-text p {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 779px) {
  .video-text p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 682px) {
  .video-text p {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 585px) {
  .video-text p {
    font-size: 0.8em;
  }
}

.video-text h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.3em;
  margin-top: 0.3em;
}

:root {
  --video-text-font-size: 2em;
  }
  
  @media only screen and (max-width: 1070px) {
  .video-text h2 {
  font-size: var(--video-text-font-size);
  }
  }
  
  @media only screen and (max-width: 973px) {
  :root {
  --video-text-font-size: 1.8em;
  }
  }
  
  @media only screen and (max-width: 876px) {
  :root {
  --video-text-font-size: 1.6em;
  }
  }
  
  @media only screen and (max-width: 779px) {
  :root {
  --video-text-font-size: 1.4em;
  }
  }
  
  @media only screen and (max-width: 682px) {
  :root {
  --video-text-font-size: 1.2em;
  }
  }
  
  @media only screen and (max-width: 585px) {
  :root {
  --video-text-font-size: 1em;
  }
}

.video-backdrop video{
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

a:link {
  color: rgb(189, 189, 189);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: rgb(255, 204, 93);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:active {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

/* Portfolio */

.portfolio-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  margin-top: 90px;
  font-weight: 500;
  letter-spacing: 1.6rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 2%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 3em;
  position: relative;
  border: red 2px solid;
}

.container .img-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 84, 156, 0.8);
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.container img:hover + .img-desc {
  opacity: 1;
}

.container img {
  width: 25rem;
  border: 4px solid #08549c;
  padding: 3px;
  border-radius: 20px;
  transition: opacity .2s, visibility .2s;
}

.caption1 , .caption2 , .caption3 {
  position: relative;
  display: none;
  margin-left: 15px;
  max-width: 384px;
  top: -19%;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

:root {
  --img-opacity: .6;
}

.item1 :hover {
  opacity: var(--img-opacity);
}
.item1:hover .caption1 {
  display: block;
}

.item2 :hover {
  opacity: var(--img-opacity);
}
.item2:hover .caption2 {
  display: block;
}

.item3 :hover {
  opacity: var(--img-opacity);
}
.item3:hover .caption3 {
  display: block;
}



